*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  height: 100vh;
  background: linear-gradient(135deg, #236ac8, #ea7f14);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  padding-left: 28%;
}

h1 {
  color: #d7dbe0;
  font-size: 4.2rem;
  text-shadow: 3px 3px 3px #938e88;
  text-align: left;
  margin-top: 3vh;
  margin-left: 5vw;
  margin-bottom: 2vh;
}

.container {
  border: 2px solid white;
  width: 100%;
  height: 100%;
  max-height: 90vh;
  min-height: 0vh;
  max-width: 47%;
  min-width: 36%;
  padding: 3vh 3vh 3vh 3vh;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 3vh;
  margin-left: 5vw;
  margin-right: auto;
}

#newtask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  background-color: #ffffff;
  padding: 2vh 2vw;
  border-radius: 5px;
  box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.3);
}

#newtask input {
  width: 70%;
  height: vh;
  font-family: "Poppins", sans-serif;
  font-size: 2vh;
  border: 2px solid #d1d3d4;
  padding: 1vh;
  color: #111;
  font-weight: 500;
  border-radius: 5px;
  min-width: 20vh;
  max-width: 50vh;
}

#newtask input:focus {
  outline: none;
  border: 2px solid;
  border-image: linear-gradient(135deg, #236ac8, #ea7f14);
}

#newtask button {
  width: 20%;
  height: 5vh;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2vh;
  background: #d1d3d4;
  border: none;
  color: #111;
  cursor: pointer;
}

#newtask button:hover {
  color: #fff;
  background: linear-gradient(135deg, #236ac8, #ea7f14);
}

#newtask button:active {
  transform: scale(0.95);
  background: linear-gradient(135deg, #236ac8, #ea7f14);
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.2);
}

#tasks {
  background-color: #ffffff;
  padding: 1vh 2vw;
  margin-top: 3vh;
  margin-bottom: 0;
  border-radius: 10px;
  box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  max-height: 10vh;
  overflow-y: auto;
}

.task {
  background-color: #ffffff;
  height: 5vh;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d1d3d4;
  cursor: pointer;
}

.task span {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.task button {
  background-color: #d1d3d4;
  color: white;
  height: 80%;
  width: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}

.task button:hover {
  background: linear-gradient(135deg, #236ac8, #ea7f14);
}

.task button:active {
  transform: scale(0.95);
  background: linear-gradient(135deg, #236ac8, #ea7f14);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.clap-emoji {
  margin-left: 5px;
  display: inline-block;
  unicode-bidi: isolate;
  text-decoration: none;
  font-style: normal;
  user-select: none;
  pointer-events: none;
  lang: "zxx";
  spellcheck: false;
}

.clap-emoji::after {
  content: attr(data-emoji);
  margin-left: 5px;
}

.completed {
  color: inherit;
  animation: sparkle 1s ease-in-out infinite;
}

.completed span {
  text-decoration: line-through;
  text-decoration-color: red;
}

.completed .clap-emoji {
  text-decoration: none;
}

.calendar-task.completed span {
  text-decoration: line-through;
  text-decoration-color: red;
}

.calendar-task .clap-emoji {
  margin-left: 5px;
}

@keyframes sparkle {
  0% {
    color: #fff;
  }
  50% {
    color: #ffd700;
  }
  100% {
    color: #fff;
  }
}

.grid-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 47%;
  height: 100%;
  max-height: 100vh;
  gap: 1vw;
  margin-right: auto;
  margin-left: 5vw;
}

#clock,
#editor-container {
  border: 2px solid white;
  padding: 1vh;
  flex: 1;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
}

#current-time {
  margin-top: 3vw;
}

#clock {
  text-align: center;
  width: 50%;
}

#clock-display {
  font-size: 5vw;
  font-weight: bold;
  background: linear-gradient(135deg, #65afe0, #d2ba59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0.5vh;
}

#pomodoro {
  margin-top: 20px;
  text-align: center;
}

#timer-display {
  font-size: 8vh;
  margin-bottom: 10px;
  background: linear-gradient(135deg, #f0e68c, #ff6347);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#pomodoro button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  background: #236ac8;
  border: none;
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px;
}

#pomodoro button:hover {
  color: #fff;
  background: linear-gradient(135deg, #65afe0, #d2ba59);
}

#pomodoro button:active {
  transform: scale(0.95);
}

#time-inputs input {
  width: 60px;
  padding: 10px;
  text-align: center;
  border: 2px solid transparent;
  border-image: linear-gradient(135deg, #f0e68c, #ff6347) 1;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1.5vh;
  color: white;
  transition: border-color 0.3s ease;
}

#editor-container {
  width: 100%;
  max-width: 60%;
  max-height: 50vh;
  background-color: transparent;
  border-radius: 10px;
  overflow-y: auto;
}

.emoji {
  font-size: 1.5em;
}

.clap-emoji {
  margin-left: 5px;
  display: inline-block;
  text-decoration: none;
  unicode-bidi: isolate;
  font-style: normal;
}

.gradient-text {
  font-size: 50px;
  background: linear-gradient(135deg, #65afe0, #d2ba59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin-left: 10px;
}

#editor {
  height: 150px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  overflow-y: auto;
}

#toolbar {
  margin-bottom: 10px;
}

#note-title {
  width: 100%;
  height: 5%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#notes-list {
  display: flex;
  flex-wrap: nowrap;
  height: 80px;
  overflow-x: auto;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  box-sizing: border-box;
}

.note-item {
  min-width: 150px;
  max-width: 200px;
  margin-right: 10px;
  height: fit-content;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  position: relative;
}

.delete-note {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 5px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-note:hover {
  background-color: #e5533d;
}

.note-item strong {
  font-size: 16px;
  display: block;
}

.note-item p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

#save-note,
#reset-note {
  display: inline-block;
  height: auto;
  padding: 5px 5px;
  font-size: 15px;
  background-color: #236ac8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

#save-note:hover,
#reset-note:hover {
  background: linear-gradient(135deg, #65afe0, #d2ba59);
}

#calendar-container {
  width: 40%;
  min-width: 30vh;
  max-width: 80vh;
  height: 100%;
  max-height: 81.5vh;
  position: absolute;
  border: 2px solid white;
  right: 5vw;
  top: 18.5vh;
  display: grid;
  grid-template-rows: repeat(24, 1fr);
  background-color: transparent;
  grid-template-columns: auto;
  text-align: left;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.time-slot {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  padding: 5px;
  background-color: transparent;
  font-size: 1.2rem;
  font-size: 1.5vw;
  color: white;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.time-slot:last-child {
  border-bottom: none;
}

.time-slot.drag-over {
  background-color: rgba(255, 255, 255, 0.2);
}

.calendar-task {
  position: relative;
  margin: 2px;
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  margin-top: 5px;
  border-radius: 5px;
  cursor: move;
  background-color: white;
  color: white;
}

.time-slot {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: transparent;
  font-size: 1.2rem;
  color: white;
}

.calendar-task.dragging {
  opacity: 0.5;
}

.task-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
}

.delete-task {
  background: transparent;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  margin-left: 5px;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  font-size: calc(16px + 0.5vw);
}

@media (max-width: 600px) {
  body {
    font-size: 3.5vw;
  }

  #newtask button {
    width: 40%;
    font-size: 1.5vh;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 2.5vw;
  }

  #newtask button {
    width: 40%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 1.8vw;
  }
}

@media (min-width: 1025px) {
  body {
    font-size: 1.2rem;
  }
}
